<nav>
  <a href="/">
    <img id="logo" src="/tplogo.png" />
  </a>

  <!-- <div id="menu--container">
        <a href="/#blog">Blog</a>
         <a href="/#events">Events</a> 
  <a href="https://discord.gg/VUnhH5enJG" target="_blank">Discord</a>
  -->

  <a href="https://github.com/tadaspetra/website" target="_blank">
    <img id="github--logo" src="/github.png" />
  </a>
</nav>
