---
import NavBar from '../components/NavBar.astro';
import '../styles/main.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon"  href="/tplogo.png" />
		<meta name="generator" content={Astro.generator} />


		<!--- Scripts -->
		<script defer data-domain="tadaspetra.com" src="https://plausible.io/js/plausible.js"></script>

		<title>{title}</title>
	</head>
	<body>
		<NavBar/>

		<section class='container--main'>
			<slot />
		</section>
	</body>
</html>
